/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-300italic - latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
         url('../fonts/roboto-v20-latin_cyrillic-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin_cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }





html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  *,
  *::before,
  *::after{
    -webkit-box-sizing:inherit;
            box-sizing:inherit;
  }


.header-menu{
    margin: 0 auto;
    background: -webkit-gradient( linear, left bottom, left top, from(rgba(252,227,138,.9)), to(rgba(243,129,129,.9))), url(../img/header.jpg);
    background: -o-linear-gradient( bottom, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), url(../img/header.jpg);
    background: linear-gradient( to top, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .header-menu {
        background: -webkit-gradient( linear, left bottom, left top, from(rgba(252,227,138,.9)), to(rgba(243,129,129,.9))), url(../img/header@2x.jpg);
        background: -o-linear-gradient( bottom, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), url(../img/header@2x.jpg);
        background: linear-gradient( to top, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), url(../img/header@2x.jpg);
    }
  }



.page-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100px;
    text-decoration: none ;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 165px;

}
.page-nav__logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color:#ffffff;
    text-decoration: none ;
    list-style: none;

   }


.header-menu p:first-letter{
    text-transform: capitalize;
}


.page-nave_menu-main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 620px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.page-nave_menu-main a{
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;    
    color:#ffffff;
    text-transform: uppercase;
    text-decoration: none ;
    list-style: none;
}
    
.page-nave_menu-main a:hover {
    color: #fce38a;
}
.page-nave_menu-main a:hover:after{
    opacity: 1;
}
.page-nave_menu-main a::after {
    opacity: 0;
    content: '';
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 3px;
    background-color:#fce38a ;
    margin-top: 10px;
}
.page-nav__menu-main_svg{
    height: 20px;
    width: 20px;
}


.page-nav__menu-main_svg-img{
    height: 18px;
    width: 18px;
    fill: #fff;

}

.header_about_subtitle{
    text-align: center;
    font-family: "Kaushan Script" ,sans-serif;
    font-size: 72px;
    margin-bottom: 40px;
}
.header_about{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#ffffff;

}

.header_about_title{

    text-align: center;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 150px;
    text-transform: uppercase;
    width: 820px;
    margin: 0;
    margin-bottom: 100px;
}

.header_about_btn{
    border:3px solid rgb(255, 255, 255) ;
    height: 44px;
    width: 164px;
    background-color: transparent;
    text-transform: uppercase;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 200px;
}


  

main{
    display: block;
}




.container {
    width: 1200px;
    margin: 0 auto;
}
.work-about{
    padding-top: 45px;
}

.work-about__title{
    text-align: center;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.work-about__title::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 3px;
    background-color:rgb(243, 129, 129) ;
    margin-top: 40px;
    margin-bottom: 65px;
}


  


.work-about__subtitle{
    text-align: center;
    font-family: "Kaushan Script" ,sans-serif;
    font-size: 24;
    margin-bottom: 24px;
}
.work-about__subtitle::first-letter{
    text-transform: uppercase;
}

.work_area{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}


.work_area__type_jobs_about h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px; 
    text-transform: uppercase;
    padding-bottom: 20px;


}


.work_area__type_jobs_about p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px; 
    color: #9f9f9f;
}

.work_area__type_jobs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 380px;
}

.work_area__type_jobs_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    width: 300px;
    height: 70px;
    background-position: left 20px top 5px ;
    margin-bottom: 100px;
}


.work_area__type_jobs_svg{
    width: 83px;
    height: 40px;
    margin: 0 auto;
    padding-left: 20px;
}

.work_area__tybe_jobs_svg-img{
    width: 32px;
    height: 32px;
    fill: #95e1d3;
}



.text_team__title{
    text-align: center;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.text_team__title::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 3px;
    background-color:rgb(243, 129, 129) ;
    margin-top: 40px;
    margin-bottom: 65px;
}


  


.text_team__subtitle{
    text-align: center;
    font-family: "Kaushan Script" ,sans-serif;
    font-size: 24;
    margin-bottom: 24px;
}
.text_team__subtitle::first-letter{
    text-transform: uppercase;
}

.team_about_text{
    font-family: "Roboto",sans-serif;
    font-weight: 400px;
    font-size: 15px;
    color: #9f9f9f;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 90px;
    line-height: 24px;

}
.team_group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    height: 625px;
}


.team_group__person{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    width: 380px;
    height: 540px;
    text-align: center;
}
.team_group__person img{
    margin-bottom: 30px;
}

.team_group__person_name{
    font-family: "Montserrat", sans-serif;
    font-size:14px;
    font-weight: 400;
    margin-bottom: 18px;
}

.team_group__person_about{
    font-family: "Roboto",serif;
    font-weight: 300i;
    font-size: 14px;
    color: #9f9f9f;
}
.overlay{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    max-width: 380px;
    max-height: 470px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear , left top, left bottom , from(rgba(238, 137, 137, .9)), to(rgba(240, 215, 134, .9)));
    background: -o-linear-gradient(top , rgba(238, 137, 137, .9), rgba(240, 215, 134, .9));
    background: linear-gradient(to bottom , rgba(238, 137, 137, .9), rgba(240, 215, 134, .9));
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);

}
.hidden-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.foto-person{
    background-color:#95e1d3 ;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
            transform: scale(1.0);
}


.team_group__person:hover .overlay {
    -webkit-transition-property:opacity,-webkit-transform;
    transition-property:opacity,-webkit-transform;
    -o-transition-property:transform,opacity ;
    transition-property:transform,opacity ;
    transition-property:transform,opacity,-webkit-transform;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    opacity: 1;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}

.team_group__person:hover img{
    -webkit-transition-property:
    -webkit-transform,-webkit-box-shadow;
    transition-property:
    -webkit-transform,-webkit-box-shadow;
    -o-transition-property:
    transform,box-shadow;
    transition-property:
    transform,box-shadow;
    transition-property:
    transform,box-shadow,-webkit-transform,-webkit-box-shadow;
    -webkit-transition-duration: 200ms;
         -o-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    background-color: #95e1d3;
    -webkit-box-shadow: 10px 10px 0 #95e1d3;
            box-shadow: 10px 10px 0 #95e1d3;

}


.hidden-item__social-info{
    width: 58px;
    height: 58px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hidden-item__social-info:not(:last-child){
    margin-right: 1px;
}
.hidden-item li:hover{
    background-color: #f38181;
}


.services__info-item-svg {
    width: 32px;
    height: 32px;
    fill: #f38181;
  }
.hidden-item__social-info:hover .services__info-item-svg{
   fill: #ffffff;
  }


.about{
    font-family:  "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    
}

.about_designed{
    color: #f38181;
    text-decoration: none;
}

.footer:before{
    content: '';
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 1px;
    background-color:#e5e5e5 ;
    margin-bottom: 10px;

}
.mail {
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
    border: 1px,#e5e5e5;
    width: 230px;
    height: 40px;
}
.other-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
}

.subcribe{
    border: 0;
    background-color: #95e1d3;
    color:white;
    font-family: "montserat",sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
}

.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 380px;
}
