@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Motserrat Regular"), local("MontserratRegular"),
    url("./Montserrat/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("./Montserrat/montserrat-v14-latin-regular.woff") format("woff");    
}

@font-face {
    font-family: "MontserratB";
    font-style: normal;
    font-weight: 700;
    src: local("Motserrat Regular"), local("MontserratRegular"),
    url("./Montserrat/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("./Montserrat/montserrat-v14-latin-regular.woff") format("woff");  
}

@font-face {
    font-family: "RobotoL";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto"), local("Roboto-Regular"),
    url("./Roboto/roboto-v20-latin-300.woff2") format("woff2"),
    url("./Roboto/roboto-v20-latin-300.woff") format("woff");  
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
    url("./Roboto/roboto-v20-latin-regular.woff2") format("woff2"),
    url("./Roboto/roboto-v20-latin-regular.woff") format("woff");
}